@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFFFF;
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #2563EB;
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: #60A5FA;
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: #BFDBFE;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #1E3A8A;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #3B82F6;
  --color-info-content: oklch(100% 0 0);
  --color-success: #10B981;
  --color-success-content: oklch(100% 0 0);
  --color-warning: #F59E0B;
  --color-warning-content: oklch(100% 0 0);
  --color-error: #EF4444;
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

h1.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}
